body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// base
@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/base";

// componentes
@import "./components/Region/region";
@import "./components/RegionalBlocs/regionalblocs";
@import "./components/Search/search";
@import "./components/CountryCard/countrycard";

//paginas
@import "./pages/List/list";
@import "./pages/Details/details";
@import "./App.scss";

// @import "@material/card/mdc-card";
