.countrycard {
  margin: 0;
  height: 450px;
  background: rgba(241, 241, 241, 0.774);
}

.countrycard__name {
  font-size: 22px;
  font-weight: 900;
  width: 300px;
  text-align: center;
}

.countrycard__div--flag {
  height: 300px;
}
.countrycard__flag {
  width: 300px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.countrycard__div--det {
  margin: 20px;
  max-width: 260px;
}

.countrycard__div--cat {
  display: flex;
  justify-content: space-between;
}
.countrycard__cat {
  font-weight: 800;
}
